<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="../../css/uikit.occ-theme.min.css" />
    <link rel="stylesheet" href="../../css/custom.css" />
  </head>
  <body class="uk-scope uk-height-viewport uk-flex uk-flex-column">
    <div id="header-container"></div>
    <script src="../../js/config.js"></script>
    <script src="../../js/header.js"></script>
    <main id="main" class="uk-flex-auto uk-section">
      <div class="uk-container">
        <h1 class="uk-heading-medium">Container</h1>
        <p class="uk-text-lead">
          A component for creating a responsive, centered container.
        </p>

        <h2 class="uk-heading-divider">Usage</h2>

        <div class="code-block-container">
          <pre><code class="language-html">&lt;div class="uk-container"&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
&lt;/div&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>

        <h2 class="uk-heading-divider">Example:</h2>
        <div class="uk-container uk-border">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <h2 class="uk-heading-divider">Component Options</h2>
        <p>The container component has a number of options available.</p>

        <h3 class="uk-heading-bullet">Sizes</h3>
        <p>A container can have different sizes.</p>
        <div class="code-block-container">
          <pre><code class="language-html">&lt;div class="uk-container uk-container-xsmall uk-border uk-text-center"&gt;
    &lt;p&gt;X-Small (750px)&lt;/p&gt;
&lt;/div&gt;
&lt;div class="uk-container uk-container-small uk-border uk-text-center"&gt;
    &lt;p&gt;Small (900px)&lt;/p&gt;
&lt;/div&gt;
&lt;div class="uk-container uk-container-large uk-border uk-text-center"&gt;
    &lt;p&gt;Large (1400px)&lt;/p&gt;
&lt;/div&gt;
&lt;div class="uk-container uk-container-xlarge uk-border uk-text-center"&gt;
    &lt;p&gt;X-Large (1600px)&lt;/p&gt;
&lt;/div&gt;
&lt;div class="uk-container uk-container-expand uk-border uk-text-center"&gt;
    &lt;p&gt;Expand&lt;/p&gt;
&lt;/div&gt;
</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>
      </div>
      <div class="uk-container uk-container-xsmall uk-border uk-text-center">
        <p>X-Small (750px)</p>
      </div>
      <div
        class="uk-container uk-container-small uk-border uk-margin-top uk-text-center"
      >
        <p>Small (900px)</p>
      </div>
      <div
        class="uk-container uk-container-large uk-border uk-margin-top uk-text-center"
      >
        <p>Large (1400px)</p>
      </div>
      <div
        class="uk-container uk-container-xlarge uk-border uk-margin-top uk-text-center"
      >
        <p>X-Large (1600px)</p>
      </div>
      <div
        class="uk-container uk-container-expand uk-border uk-margin-top uk-text-center"
      >
        <p>Expand</p>
      </div>
    </main>
    <div
      id="footer-container"
      data-footer-path="../../includes/footer.html"
    ></div>
    <script src="../../js/main.js"></script>
    <script src="../../js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="../../js/copy.js"></script>
  </body>
</html>
