<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="../../css/uikit.occ-theme.min.css" />
    <link rel="stylesheet" href="../../css/custom.css" />
  </head>
  <body class="uk-scope uk-height-viewport uk-flex uk-flex-column">
    <div id="header-container"></div>
    <script src="../../js/config.js"></script>
    <script src="../../js/header.js"></script>
    <main id="main" class="uk-flex-auto uk-section">
      <div class="uk-container">
        <h1 class="uk-heading-medium">Badge</h1>
        <p class="uk-text-lead">
          Easily create badges to highlight and label content.
        </p>

        <h2 class="uk-heading-divider">Usage</h2>

        <div class="code-block-container">
          <pre><code class="language-html">&lt;span class="uk-badge"&gt;Badge&lt;/span&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">
            Copy
          </button>
        </div>

        <h2 class="uk-heading-divider">Example:</h2>
        <p>
          <span class="uk-badge">Badge</span>
        </p>

        <h2 class="uk-heading-divider">Component Options</h2>

        <p>There are no component options for badges.</p>

        <h2 class="uk-heading-divider">Accessibility</h2>

        <p>
          Badges are purely visual and provide no additional functionality.
          Ensure that the information conveyed by the badge is also available to
          users of assistive technologies. For example, if a badge is used to
          indicate a new item, consider adding visually hidden text that says
          "New" to the item as well.
        </p>
      </div>
    </main>
    <div
      id="footer-container"
      data-footer-path="../../includes/footer.html"
    ></div>
    <script src="../../js/main.js"></script>
    <script src="../../js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="../../js/copy.js"></script>
  </body>
</html>
