<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="../../css/uikit.occ-theme.min.css" />
    <link rel="stylesheet" href="../../css/custom.css" />
  </head>
  <body class="uk-scope uk-height-viewport uk-flex uk-flex-column">
    <div id="header-container"></div>
    <script src="../../js/config.js"></script>
    <script src="../../js/header.js"></script>
    <main id="main" class="uk-flex-auto uk-section">
      <div class="uk-container">
        <h1 class="uk-heading-medium">Close</h1>
        <p class="uk-text-lead">
          A generic close icon, that can be used for any dismissible element.
        </p>

        <h2 class="uk-heading-divider">Usage</h2>

        <div class="code-block-container">
          <pre><code class="language-html">&lt;button type="button" data-uk-close&gt;&lt;/button&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>

        <h2 class="uk-heading-divider">Example:</h2>
        <button type="button" data-uk-close></button>

        <h2 class="uk-heading-divider">Component Options</h2>
        <p>There is one option available for the close icon.</p>

        <h3 class="uk-heading-bullet">Large</h3>
        <p>A close icon can be large.</p>
        <div class="code-block-container">
          <pre><code class="language-html">&lt;button type="button" class="uk-close-large" data-uk-close&gt;&lt;/button&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>
        <button type="button" class="uk-close-large" data-uk-close></button>

        <h2 class="uk-heading-divider">Accessibility</h2>

        <p>
          The Close component is designed with accessibility in mind. By default,
          the close icon is a <code>&lt;button&gt;</code> element, which is
          focusable and can be activated using the <code>Enter</code> or
          <code>Space</code> keys.
        </p>
      </div>
    </main>
    <div
      id="footer-container"
      data-footer-path="../../includes/footer.html"
    ></div>
    <script src="../../js/main.js"></script>
    <script src="../../js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="../../js/copy.js"></script>
  </body>
</html>
