<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="../../css/uikit.occ-theme.min.css" />
    <link rel="stylesheet" href="../../css/custom.css" />
  </head>
  <body class="uk-scope uk-height-viewport uk-flex uk-flex-column">
    <div id="header-container"></div>
    <script src="../../js/config.js"></script>
    <script src="../../js/header.js"></script>
    <main id="main" class="uk-flex-auto uk-section">
      <div class="uk-container">
        <h1 class="uk-heading-medium">Heading</h1>
        <p class="uk-text-lead">A collection of styles for headings.</p>

        <h2 class="uk-heading-divider">Usage</h2>

        <div class="code-block-container">
          <pre><code class="language-html">&lt;h1 class="uk-heading-small"&gt;Heading&lt;/h1&gt;
&lt;h2 class="uk-heading-medium"&gt;Heading&lt;/h2&gt;
&lt;h3 class="uk-heading-large"&gt;Heading&lt;/h3&gt;
&lt;h4 class="uk-heading-xlarge"&gt;Heading&lt;/h4&gt;
&lt;h5 class="uk-heading-2xlarge"&gt;Heading&lt;/h5&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>

        <h2 class="uk-heading-divider">Example:</h2>
        <h1 class="uk-heading-small">Heading</h1>
        <h2 class="uk-heading-medium">Heading</h2>
        <h3 class="uk-heading-large">Heading</h3>
        <h4 class="uk-heading-xlarge">Heading</h4>
        <h5 class="uk-heading-2xlarge">Heading</h5>

        <h2 class="uk-heading-divider">Component Options</h2>
        <p>The heading component has a number of options available.</p>

        <h3 class="uk-heading-bullet">Divider</h3>
        <p>You can add a divider to a heading.</p>
        <div class="code-block-container">
          <pre><code class="language-html">&lt;h1 class="uk-heading-divider"&gt;Heading&lt;/h1&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>
        <h1 class="uk-heading-divider">Heading</h1>

        <h3 class="uk-heading-bullet">Bullet</h3>
        <p>You can add a bullet to a heading.</p>
        <div class="code-block-container">
          <pre><code class="language-html">&lt;h1 class="uk-heading-bullet"&gt;Heading&lt;/h1&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>
        <h1 class="uk-heading-bullet">Heading</h1>

        <h3 class="uk-heading-bullet">Line</h3>
        <p>Add a line to a heading.</p>
        <div class="code-block-container">
          <pre><code class="language-html">&lt;h1 class="uk-heading-line"&gt;&lt;span&gt;Heading&lt;/span&gt;&lt;/h1&gt;
&lt;h1 class="uk-heading-line uk-text-center"&gt;&lt;span&gt;Heading&lt;/span&gt;&lt;/h1&gt;
&lt;h1 class="uk-heading-line uk-text-right"&gt;&lt;span&gt;Heading&lt;/span&gt;&lt;/h1&gt;
          </code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>
        <h1 class="uk-heading-line"><span>Heading</span></h1>
        <h1 class="uk-heading-line uk-text-center">
          <span>Heading Line Center</span>
        </h1>

        <h1 class="uk-heading-line uk-text-right">
          <span>Heading Line Right</span>
        </h1>

        <h2 class="uk-heading-divider">Accessibility</h2>
        <p>
          The heading classes are for styling purposes only. To ensure your
          content is accessible and properly structured for screen readers and
          search engines, you should always use the appropriate semantic HTML
          heading elements (e.g., <code>&lt;h1&gt;</code>,
          <code>&lt;h2&gt;</code>, <code>&lt;h3&gt;</code>, etc.) to represent
          the hierarchy of your content.
        </p>
      </div>
    </main>
    <div
      id="footer-container"
      data-footer-path="../../includes/footer.html"
    ></div>
    <script src="../../js/main.js"></script>
    <script src="../../js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="../../js/copy.js"></script>
  </body>
</html>
