<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="../../css/uikit.occ-theme.min.css" />
    <link rel="stylesheet" href="../../css/custom.css" />
  </head>
  <body class="uk-scope uk-height-viewport uk-flex uk-flex-column">
    <div id="header-container"></div>
    <script src="../../js/config.js"></script>
    <script src="../../js/header.js"></script>
    <main id="main" class="uk-flex-auto uk-section">
      <div class="uk-container">
        <h1 class="uk-heading-medium">Background</h1>
        <p class="uk-text-lead">
          Easily apply background colors, gradients, and images to your
          elements.
        </p>

        <h2 class="uk-heading-divider">Usage</h2>

        <div class="code-block-container">
          <pre><code class="language-html">&lt;div class="uk-background-primary uk-light uk-padding"&gt;
  &lt;p&gt;Primary Background&lt;/p&gt;
&lt;/div&gt;</code></pre>
          <button class="copy-button uk-button uk-button-primary">Copy</button>
        </div>

        <h2 class="uk-heading-divider">Examples:</h2>
        <div class="uk-child-width-1-2@m" data-uk-grid>
          <div>
            <div class="uk-background-default uk-padding">
              <p>Default Background</p>
              <div class="code-block-container">
                <pre><code class="language-html">&lt;div class="uk-background-default uk-dark uk-padding"&gt;
  &lt;p&gt;Default Background&lt;/p&gt;
&lt;/div&gt;</code></pre>
                <button class="copy-button uk-button uk-button-primary">
                  Copy
                </button>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-background-muted uk-padding">
              <p>Muted Background</p>
              <div class="code-block-container">
                <pre><code class="language-html">&lt;div class="uk-background-muted uk-dark uk-padding"&gt;
  &lt;p&gt;Muted Background&lt;/p&gt;
&lt;/div&gt;</code></pre>
                <button class="copy-button uk-button uk-button-primary">
                  Copy
                </button>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-background-primary uk-light uk-padding">
              <p>Primary Background</p>
              <div class="code-block-container">
                <pre><code class="language-html">&lt;div class="uk-background-primary uk-light uk-padding"&gt;
  &lt;p&gt;Primary Background&lt;/p&gt;
&lt;/div&gt;</code></pre>
                <button class="copy-button uk-button uk-button-primary">
                  Copy
                </button>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-background-secondary uk-dark uk-padding">
              <p>Secondary Background</p>
              <div class="code-block-container">
                <pre><code class="language-html">&lt;div class="uk-background-secondary uk-dark uk-padding"&gt;
  &lt;p&gt;Secondary Background&lt;/p&gt;
&lt;/div&gt;</code></pre>
                <button class="copy-button uk-button uk-button-primary">
                  Copy
                </button>
              </div>
            </div>
          </div>
        </div>

        <h2 class="uk-heading-divider">Component Options</h2>

        <table class="uk-table uk-table-striped">
          <thead>
            <tr>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>uk-background-default</code></td>
              <td>Applies the default background color.</td>
            </tr>
            <tr>
              <td><code>uk-background-muted</code></td>
              <td>Applies a muted background color.</td>
            </tr>
            <tr>
              <td><code>uk-background-primary</code></td>
              <td>Applies the primary background color.</td>
            </tr>
            <tr>
              <td><code>uk-background-secondary</code></td>
              <td>Applies the secondary background color.</td>
            </tr>
          </tbody>
        </table>

        <h2 class="uk-heading-divider">Accessibility</h2>

        <p>
          Ensure that the contrast between your background and foreground
          content is sufficient for readability. When using background images,
          consider adding a background color as a fallback for users who may
          have images disabled. The <code>uk-light</code> and
          <code>uk-dark</code> classes from the Inverse component can be used to
          adjust the color of text and other elements to ensure they are visible
          on different backgrounds.
        </p>
      </div>
    </main>
    <div
      id="footer-container"
      data-footer-path="../../includes/footer.html"
    ></div>
    <script src="../../js/main.js"></script>
    <script src="../../js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="../../js/copy.js"></script>
  </body>
</html>
